include README.md
include LICENSE
include pyproject.toml
recursive-include brother_ql/config *.json
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .git*
recursive-exclude tests *
recursive-exclude venv *